header.header
  picture
    source(srcset=require('/src/assets/images/logo/logo-white.png'), media="(min-width: 1024px)")
    source(srcset=require('/src/assets/images/logo/logo-dark-tablet.png'), media="(min-width: 768px)")
    img(src=require('/src/assets/images/logo/logo-dark.png'), alt="logo")
  nav.nav
    ul.nav__list
      li.nav__item
        a.nav__link(href="#bluetooth") Работайте без проводов
      li.nav__item
        a.nav__link(href="#table") Где угодно
      li.nav__item
        a.nav__link(href="#lifestyle") С комфортом
      li.nav__item
        a.nav__link(href="#settings") С разных устройств
      li.nav__item
        a.nav__link(href="#comfort") В любое время
      li.nav__item
        a.nav__link(href="#speed") И еще быстрее
