@import "mixins";

.ordered-list {
  margin: 0;
  padding: 0;
  width: 220px;
  list-style-position: inside;
  text-align: left;

  @include tablet {
    display: flex;
    width: auto;
    font-size: 20px;
    line-height: 23px;
  }

  &__item {
    margin-bottom: 16px;

    @include tablet {
      margin: 0;
      padding: 8px 15px 4px 28px;
      border-left: solid 1px #494949;

      &:first-child {
        border: none;
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
